body {
    margin: 0;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

.page {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.container {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #eee;
    border: 1px solid #999;
}

.team-info {
    width: 200px;
    float: left;
    padding: 20px;
    border: 1px solid #999;
    background-color: #fff;
}

.team-info h2 {
    display: inline;
    font-size: 20px;
    margin-left: 20px;
    vertical-align: top;
}

.logo-team {
    background: url("../img/team.jpg") center no-repeat;
    background-size: contain;
}

[class *=logo] {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #eee;
    border: 1px solid #999;
}

.content {
    padding: 20px;
    margin-left: 260px;
    margin-right: 140px;
    border: 1px solid #999;
    background-color: #fff;
}

.content h3 {
    margin: 0;
    padding: 0;
}

.personal-info {
    float: right;
    width: 80px;
    padding: 20px;
    border: 1px solid #999;
    background-color: #fff;
}

[class *=logo-person]:last-child {
    margin-bottom: 0px;
}

.logo-person-1 {
    background: url("../img/1.jpg") center no-repeat;
}

.logo-person-2 {
    background: url("../img/2.jpg") center no-repeat;
}

.logo-person-3 {
    background: url("../img/3.jpg") center no-repeat;
}

[class *=logo-person] {
    margin-bottom: 20px;
    background-size: contain;
}

.clearfix:after {
		content: "";
    display: table;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
